@media screen and (max-width: 640px) {
    .container {
        margin-left: 0 !important;
    }

    .h1 {
        display: none !important;
    }

    .titleMobile {
        padding-left: 16px !important;
        font-size: 1.5rem !important;
        top: 50% !important;
        margin-bottom: 0 !important;
        max-width: 22ch;
        transform: translateY(-50%);
        position: absolute;
    }

    .content {
        display: none !important;
    }

    .contentWrapper {
        height: unset !important;
    }

    .pages {
        flex-direction: column;
        align-items: center !important;
        gap: 20px;
        margin-bottom: unset !important;
    }

    .page {
        height: 140px !important;
        width: 260px !important;
    }

    .img {
        position: unset !important;
    }
}

@media screen and (min-width: 641px) {
    .titleMobile {
        display: none !important;
    }
}
