/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.blogWrapper {
    width: 110% !important;
}

@media screen and (max-width: 996px) {
    .blogWrapper {
        width: 100% !important;
    }
}

.blog {
    width: 46%;
}

@media screen and (max-width: 996px) {
    .blog {
        width: 100%;
    }
}
