/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.containerHero1 {
    background: #f4f4f4;
}

.navbar__link_hover:hover {
    color: var(--ifm-color-primary) !important;
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    .containerHero1 {
        flex-direction: column;
        padding: 50px 16px 50px 16px !important;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .diagram::-webkit-scrollbar {
        display: none;
        overflow-x: auto;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .diagram {
        overflow-x: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        min-width: unset !important;
    }
    .diagram > img {
        max-width: unset !important;
    }

    .h1Title {
        text-align: center;
    }

    .containerHero2 {
        border-radius: unset !important;
        margin: 0 !important;
    }

    .container2H2,
    .container2H3 {
        padding: 16px !important;
        font-size: 2.5rem !important;
    }

    .container2Charts {
        padding-left: 16px !important;
        padding-right: 16px !important;
        flex-direction: column !important;
    }
    .container2Charts > div {
        align-items: unset !important;
        text-align: center;
    }

    .container2Points {
        flex-direction: column !important;
        gap: 20px;
    }

    .container2Points > div {
        margin-left: 10%;
    }
}
