.main {
    border: 1px solid #c7c7c7;
    border-radius: 16px;
    padding: 24px;
    max-width: 850px;
    margin-top: 80px;
}

@media (min-width: 1000px) {
    .main {
        margin-left: 80px;
    }
}

.tabs {
    justify-content: space-evenly;
}

/* Tab labels */
.tabs>li {
    border: 1px solid transparent;
    border-radius: 16px;
    justify-content: center;
    width: 200px;
    height: 50px;
    align-items: center;
}

.tabs>li[aria-selected="true"] {
    background-color: #f4f6ff;
    border: 1px solid #4361ee;
    border-radius: 16px;
    justify-content: center;
    width: 200px;
}

.main pre {
    padding-top: 30px;
    padding-bottom: 30px;
}